aiohttp
beautifulsoup4
colorama
cryptography
customtkinter
discord.py
keyauth
mss
numpy
opencv-python
phonenumbers
Pillow
pyautogui
pycaw
pygetwindow
keyboard
pywin32
reportlab
rich
screen-brightness-control
scapy
selenium
tqdm
pyinstaller
geocoder
pynput
pyaudio
pycryptodomex